.container{
	height: 200px;
	width: 350px;
	background-color: green;
	display: flex;
	justify-content: center;
	align-items: center;
}

.child{
	height: 150px;
	width: 150px;
	background-color: red;
	border-radius: 50%;
}